.line {
  font-family: Arial;
  color: dimgrey;
  font-size: 16px;
  line-height: 30px;
}

.hidden_line {
  color:whitesmoke !important;
}

li::marker {
  content: '<<  ';
}

.newest_line {
  text-indent: 40px;
  font-family: Arial;
  color:dimgrey;
  font-size: 20px;
  line-height: 30px;
}
.theme {
  list-style-type: circle;
  font-family: Arial;
  color:dimgrey;
  font-size: 20px;
  line-height: 50px;
}
.content {
  text-align: left;
  position: absolute;
}
.text {
  font-size: 14px;
  margin-top: -12px;
  margin-bottom: -12px;
  color: black;
}
